body {
	color: #000;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	font-weight: bold;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}

#sidebar {
  position: absolute;
  left: 0;
  width: 400px;
  height: 100%;
}

#webgl {
  background-color: black;
  position: absolute;
  left: 400px;
  right: 0;
  height: 100%;
}

#sidebar textarea {
  width: 100%;
  height: 33.33%;
}