@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}

body, a, a:visited {
  color: black;
}

h1 {
  margin: 0 10px 0 0;
  padding: 0;
  display: inline;
}

#url {
  width: 100%;
}

#sidebar {
  top: 0;
  height: 100%;
  position: absolute;
  left: 0;
  width: 400px;
}

header {
  height: 140px;
  padding: 10px;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#webgl {
  position: absolute;
  left: 400px;
  right: 0;
  background-color: black;
  height: 100%;
}

#sidebar textarea,
#sidebar .CodeMirror {
  width: 100%;
  height: 50%;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.textareas {
  position: absolute;
  width: 100%;
  top: 170px;
  bottom: 60px;
}

.buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
}

#submit {
  margin: 10px;
}